section#work{
    background-color: rgb(70, 68, 68);
    color: white;
    display: flex;
    padding-inline: 8px;
    padding-block: 56px;
    position: relative;
}
section#work>div{
    flex: 1;
    background-color: white;
    color: black;
    overflow: auto;
    /* padding-inline: 16px; */
   margin: 8px;

}
section#work>div.ourWork{
    background-color: rgb(70, 68, 68);
    color: white;
   
}
section#work>div.ourWork>h2{
    padding-block: 24px;
}
section#work>div.customer{
    height: 350px;
   
}
section#work>div.customer>h2{
    padding: 8px;
}
section#work>div.customer>h3{
    padding: 8px;
}
section#work>div.customer>p{
    padding: 8px;
}
section#work>div>img{
    width: 100%;
}
section#work>a.plus{
    background-color: rgb(126, 226, 226);
    width: 48px;
    height: 41px;
    font-size: 32px;
    text-align: center;
    border-radius: 50px;
    padding-top: 7px;
    position: absolute;
    bottom: -24px;
    right: 24px;
    color: white;
    text-decoration: none;
}
section#work>a.plus:hover{
    background-color: rgb(175, 173, 173);
    color: black;
}